@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
    background-color: #FAF9F6;
}

h1 {
	color: #364068;
	padding: 10px;

}
#acessarbtn {
	width: 100%;
}
p {
	font-weight: 300;
	margin-top: 20px;
    margin-bottom: 20px;
}

strong {
	color: #364068;
}

.container {
   color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
}

.Botao1 {
	text-decoration: none;
	background-color: #364068;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}

.Botao2 {
	text-decoration: none;
	background-color: #d51213;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
}

.Caixa1 {
	width: 320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #364068;
	border-radius: 5px;
}

.Caixa2 {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #364068;
	border-radius: 5px;
}

#caixa3 {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ff0000;
	outline: none;
}

#tabela {
	margin-top: 30px;
	border-collapse: collapse;
	
}
#tabela th {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
	background-color: #364068;
	color: #fff;	
}

#tabela td {
	border: 1px solid #ddd;
	padding: 10px;
	
		
}